/* Estilos generales para las tarjetas de inicio de sesión */
.card-login {
    flex: 1 1 calc(33.333% - 20px);
    padding: 30px;
    background-color: #f6f6f6;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 30px;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
}

.card-login h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-login p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.card-login button {
    padding: 15px 20px;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 180px;
    cursor: pointer;
}

.card-login button:hover {
    background-color: #f0f0f0;
}

.logo-login {
    font-size: 40px;
    background-color: #e0e0e0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto 10px;
}

/* Estilos para pantallas móviles */
@media (max-width: 768px) {
    .card-login {
        flex: 1 1 100%;
        padding: 20px;
        margin: 10px 0; /* Ajusta el margen para pantallas pequeñas */
        box-sizing: border-box;
    }

    .card-login h2 {
        font-size: 18px; /* Ajusta el tamaño de la fuente del encabezado */
    }

    .card-login p {
        font-size: 12px; /* Ajusta el tamaño de la fuente del párrafo */
    }

    .card-login button {
        padding: 12px 15px; /* Ajusta el padding del botón */
        font-size: 12px; /* Ajusta el tamaño de la fuente del botón */
    }

    .logo-login {
        font-size: 30px; /* Ajusta el tamaño de la fuente del logo */
        width: 50px;
        height: 50px;
    }
}
