/* .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-image {
    width: 100%;
    border-radius: 8px;
  }
  
  .card-info {
    margin-top: 8px;
    text-align: center;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 4px;
  }
  
  .card-occupation {
    font-size: 1rem;
    color: #666;
  } */

  .titulo-card{
    color: black;
  }