/* Estilos para el contenedor de filtros */
/* .filters-wrapper {
  position: relative;
} */

/* Botón para mostrar/ocultar filtros */
.toggle-filters-button {
  background-color: #0872b4;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  display: none; /* Se mostrará solo en móviles */
}

/* Estilos para los filtros */
.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filters select, .filters input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  margin: 5px;
  flex: 1 1 200px;
}

.filters .autocomplete {
  flex: 1 1 200px;
}

.filters .search-skills .react-autosuggest__container {
  position: relative;
}

.filters .search-skills .react-autosuggest__input {
  width: 100%;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* .filters .search-skills .react-autosuggest__input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
  outline: none;
} */

.filters .search-skills .react-autosuggest__suggestions-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.filters .search-skills .react-autosuggest__suggestion {
  padding: 10px 20px;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filters .search-skills .react-autosuggest__suggestion--highlighted {
  background-color: #007bff;
  color: #fff;
}

.filters .search-skills .react-autosuggest__suggestion:last-child {
  border-bottom: none;
}

.filters .filter-button {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  margin: 5px;
}


.filters .search-skills {
  position: relative;
}

.filters .search-skills ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filters .search-skills li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Media queries para diseño responsivo */
@media (max-width: 768px) {
  .filters-wrapper {
    margin: 10px;
  }

  .toggle-filters-button {
    display: block; /* Mostrar el botón de alternar en móviles */
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    border-radius: 50px;
  }

  .filters {
    display: none; /* Ocultar filtros cuando `showFilters` es false */
    flex-direction: column;
    align-items: stretch;
  }

  .filters.show {
    display: flex; /* Mostrar filtros cuando `showFilters` es true */
  }

  .filters select, .filters input {
    flex: 1 1 100%;
    margin: 5px 0;
  }

  .filters .autocomplete, .filters .search-skills {
    flex: 1 1 100%;
  }

  .filters .filter-button {
    width: 100%;
    margin: 10px 0;
  }
}
