/* Estilos para el contenedor del encabezado */
header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #333333;
  padding: 10px;
}

/* Estilos para el logotipo */
.logo {
  font-size: 30px;
}

.logo a {
  color: #333333;
  text-decoration: none;
}

.logo a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

/* Estilos para el contenedor de navegación y menú hamburguesa */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: end; /* Asegura que el logo y el menú hamburguesa estén en extremos opuestos */
  width: 100%;
}

/* Estilos para los enlaces de navegación en escritorio */
.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 20px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #333333;
  text-decoration: none;
}

.nav-links a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

/* Estilos para el menú hamburguesa */
#hamburger-nav {
  display: none;
  background-color: #e8e8e8;
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
}

.hamburger-icon {
  width: 20px; /* Ajusta el tamaño del ícono según sea necesario */
  height: 14px; /* Ajusta la altura total de las tres líneas */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hamburger-icon .line {
  width: 100%; /* Asegura que las líneas ocupen todo el ancho del ícono */
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.hamburger-icon.open .line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger-icon.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open .line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

/* Media Queries para mostrar el menú en pantallas pequeñas */
@media (max-width: 768px) {
  #hamburger-nav {
    display: block; /* Muestra el botón hamburguesa */
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #fff;
    padding-top: 60px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }

  .nav-links.open {
    display: flex;
    transform: translateX(0);
  }

  .nav-links li {
    width: 100%;
    padding: 10px 20px;
  }

  .nav-links a {
    width: 100%;
    padding: 10px 20px;
    color: #333;
    display: flex; /* Para alinear iconos y texto */
    align-items: center; /* Para centrar verticalmente iconos y texto */
  }

  .nav-links a .mobile-icon {
    margin-right: 10px; /* Espacio entre el icono y el texto */
  }

  .nav-links a .link-text {
    display: inline-block;
  }

  .nav-links a .mobile-icon {
    display: inline-block;
  }
}

/* Estilos para ocultar los iconos en el modo de escritorio */
@media (min-width: 769px) {
  .mobile-icon {
    display: none;
  }
}
