.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.modal-content img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 15px;
}

.modal-content h2 {
  font-size: 24px;
  margin: 15px 0;
  color: black;
}

.modal-content p {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
}

.details {
  text-align: left;
  margin-top: 20px;
}

.detail {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.detail img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 15px 0;
}

.skills span {
  background-color: #eee;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 12px;
  color: #333;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 15px 0;
}

.social-links a {
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 12px;
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.buttons .contact {
  background-color: #000;
  color: #fff;
}

.buttons .save-contact {
  background-color: #0872b4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-contact svg {
  margin-right: 8px;
}

.save-contact:hover {
  background-color: #065a8f;
}

.buttons .profile {
  background-color: #f1f1f1;
  color: #333;
}


.modal-content .buttons button {
    padding: 2px 9px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
}
/* @media (min-width: 480px) {
  .buttons {
      flex-direction: row; /* En pantallas más grandes, los botones estarán en fila */
      /* justify-content: space-between; */
  