.sidebar-login {
    width: 240px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.nav-login{
    background-color: #f4f4f4;
}

.sidebar-login.hidden {
    transform: translateX(-100%);
}

.logo-sidebar{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.nav-login ul {
    list-style: none;
    padding: 0;
}

.nav-login ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.nav-login ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.nav-loginul li a i {
    margin-right: 10px;
}

.hamburger {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
    }
    .sidebar-login {
        width: 240px;
        background-color: #f4f4f4;
        padding: 20px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        transition: transform 0.3s ease;
        z-index: 1000;
        display: contents;
        align-items: center;
        justify-content: center;
    }

    .sidebar.hidden {
        transform: translateX(0);
    }

    .hamburger {
        display: block;
    }

    .logo-sidebar {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 20px;
    }
}
